@charset "utf-8";

/* 마크T */


header {
    text-align: 0;
    position: fixed;
    flex-wrap: wrap;
    z-index: 2;
}

section {
    padding: 180px 0 0 0;
}

nav {
    position: relative;
    padding: 80px 0 20px 0;
    justify-content: space-between;
    height: auto;
}

.logo {
    background: var(--color1);
    margin: 0 auto;
    position: absolute;
    top:0;
    padding: 20px;
}

/* 이미지크기조절 */
.logo img {
    width: 35%;
    height: 35%;
}

nav {position: relative;}

nav > .login_start {
    display: flex;
    align-items: center;
    z-index: 1;
    right: 0%;
}

nav .hamburger {
    display: flex;
    margin: 0 0 0 20px;
    z-index: 1;
}

/* 껏다켰다 */
.gnb {
    display: none;
    flex-direction: column;
    align-items: start;
    position: fixed;
    top: 20%;
    width: 300px;
    height: fit-content;
    padding: 5px 10px;
    background: var(--color1);

}

.gnb.on {display: flex;}
/*  */

.gnb li {
    text-align: start;
    width: 100%;
    border-bottom: 2px solid white;
}

.News .swiper-button-next {right: 24.5%;}
.News .swiper-button-prev {left: 24.5%;}