@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.opentapvertical {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.opentapvertical .tap{
    width: 130px;
    height: 100%;
    background: yellow;
    display: flex;
    flex-direction: column;
}

.tapbutton.on{
    background: darkgoldenrod;
}

.opentapvertical .contents{
    width: calc(100% - 130px);
    height: 100%;
    padding: 10px 20px;
    background: seagreen;
    border: 5px solid darkgoldenrod;
}

.contents .tapbox{
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
}

.contents .tapbox.on {
    display: block;
}